#chat-body .screen-header,
#chat-body .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
}

#chat-body .status-bar {
  z-index: 2;
}

#chat-body .screen-header {
  z-index: 1;
}
